 <div class="container  mt-5">
    <div class="row text-center ">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 ">
        <h1><strong><i class="fas fa-paw"></i> Animal Nav</strong></h1>
              <div class="btn-wrapper col-10 mx-auto">
                <div class="row  mt-4">
                  <%= link_to "Log in", new_user_session_path , class: "btn btn-danger btn-sm btn-block mb-3 sign_in" %><br>
                </div>
                <div class="row">
                <%= link_to "Sign up", new_user_registration_path , class: "btn btn-danger btn-sm btn-block sign_up" %>
                </div>
            </div>
      </div>
    </div>
</div>
